energy.0-20.ready.split.h5
energy.0-20.ready.h5
energy.0-20.ready.csv.gz
submission.csv
readme.ipynb
ML001 Процесс ETL.ipynb
ML002 Интерполяция и экстраполяция.ipynb
ML003 Оценка модели.ipynb
ML004 Линейная регрессия.ipynb
ML005 homework_1 (Линейная регрессия по часам).ipynb
ML006 Оптимизация потребления памяти.ipynb
ML007 EDA исследование зависимостей.ipynb
ML008 Заполнение пропусков в данных.ipynb
ML009 homework_2 (Параметрическая модель энергопотребления).ipynb
ML010 Обогащение данных.ipynb
ML011 Иерархия моделей.ipynb
ML012 Оптимизация регрессии.ipynb
ML013 homework_3 (Конкурентные модели регрессии).ipynb
ML014 Экспорт и импорт данных.ipynb
ML015 Ансамбль регрессионных моделей.ipynb
ML016 Расчет результатов.ipynb